/* Bootstrap overrides/mods */
.container {
  max-width: 45rem;
}
.list-group label span {
  margin-left: .5rem;
}

/* Custom */
.completed input[type="checkbox"] {
  background-color: #198754;
  border-color: #198754;
}
